datasets>=3.6.0
deepspeed>=0.17.1
dotenv>=0.9.9
hydra-zen>=0.15.0
loguru>=0.7.3
omegaconf>=2.3.0
peer-pytorch>=0.2.1
torch>=2.7.1
transformers>=4.53.0
wandb>=0.21.0
accelerate==1.8.1
tensorboard>=2.8.0